/* Custom font */
@font-face {
    font-family: 'Cozette';
    src: url('../fonts/CozetteVector.ttf') format('truetype');
    }

.custom-font-text {
    font-family: 'CustomFont', sans-serif; /* With fallback */
}

#wip {
    background-color: rgb(190, 114, 0);
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    min-width: 80vh;
    margin: 0px;
    
    background: linear-gradient(to bottom, rgba(21, 0, 138, 0.5), rgba(3, 111, 126, 0.5));
    background-size: cover;

    background-color: #131313;

    color: #ffffff;
    font-family: 'Cozette';
}

nav {
    display: inline-block;
}   
nav button {
    background-color: #171717;
    border: none;
    padding: 4px 14px;
}

a {
    text-decoration: none;
    color: #45a2ff;
}
a:hover {
    color: #6bfff3;
}
a:visited {
    color: #c773ff;
}

#content-main {
    margin: 40px 60px;

    padding: 10px 40px;

    border: 3px solid #cdcdcd;
    border-radius: 8px;

    background-color: #070707dd;
}

#game-overview {
    border: 2px solid #c773ff;
    padding: 10px 20px;
}
#game-overview-header {
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#game-overview-buttons {
    margin-left: 10px;
    color: white;
    font-size: large;
}
#game-overview-buttons a:nth-child(1) button {
    border: none;
    padding: 14px 30px;
    width: 140px;
    background-color: rgb(0, 41, 75);
}
#game-overview-buttons a:nth-child(2) button {
    border: none;
    padding: 14px 30px;
    width: 140px;
    background-color: rgb(0, 75, 25);
}
#game-overview-screenshots {
    white-space: nowrap;
    overflow-x: auto;
}
#game-overview-screenshots img {
    display: inline-block;
    height: 220px;
}

button {
    font-family: "Cozette";
    color: white;
    font-size: large;
    cursor: pointer; 
}
button:hover {
    filter: brightness(150%);
    cursor: progress;
    cursor: pointer; 
}
button:active {
    filter: brightness(70%);
}

#redirect-discord {
    font-size: large;
    border-radius: 6px;
    color: white;
    border-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 41, 75);
}

#redirect-itch {
    font-size: large;
    border-radius: 6px;
    color: white;
    border-color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(75, 11, 0);
}